USE [master]
GO
/****** Object:  Database [MangaFlow_Pro]    Script Date: 5/20/2026 10:23:11 AM ******/
CREATE DATABASE [MangaFlow_Pro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MangaFlow_Pro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MangaFlow_Pro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MangaFlow_Pro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MangaFlow_Pro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MangaFlow_Pro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MangaFlow_Pro]
GO
/****** Object:  Table [dbo].[Category_Master]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_Master](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Slug] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract_Asset_ThinhPH]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract_Asset_ThinhPH](
	[AssetID_ThinhPH] [int] IDENTITY(1,1) NOT NULL,
	[ContractID_ThinhPH] [int] NOT NULL,
	[FileUrl] [nvarchar](500) NOT NULL,
	[UploadedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssetID_ThinhPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract_Master_ThinhPH]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract_Master_ThinhPH](
	[ContractID_ThinhPH] [int] IDENTITY(1,1) NOT NULL,
	[SeriesID] [int] NOT NULL,
	[SignDate] [datetime] NULL,
	[BaseRoyaltyRate] [decimal](5, 2) NOT NULL,
	[ContractTerms] [nvarchar](max) NULL,
	[IsExclusive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractID_ThinhPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manga_Chapter]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manga_Chapter](
	[ChapterID] [int] IDENTITY(1,1) NOT NULL,
	[SeriesID] [int] NOT NULL,
	[ChapterNumber] [int] NOT NULL,
	[Title] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChapterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manga_Series]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manga_Series](
	[SeriesID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SeriesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manga_Statistics]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manga_Statistics](
	[StatID] [int] IDENTITY(1,1) NOT NULL,
	[SeriesID] [int] NOT NULL,
	[TotalViews] [bigint] NULL,
	[RatingScore] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manuscript_Annotation]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manuscript_Annotation](
	[AnnotationID] [int] IDENTITY(1,1) NOT NULL,
	[PageID] [int] NOT NULL,
	[EditorID] [int] NOT NULL,
	[CommentContent] [nvarchar](max) NULL,
	[CoordinateData] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AnnotationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manuscript_Page]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manuscript_Page](
	[PageID] [int] IDENTITY(1,1) NOT NULL,
	[ChapterID] [int] NOT NULL,
	[PageNumber] [int] NOT NULL,
	[CurrentStatus] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manuscript_Version]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manuscript_Version](
	[VersionID] [int] IDENTITY(1,1) NOT NULL,
	[PageID] [int] NOT NULL,
	[AssetURL] [varchar](500) NOT NULL,
	[VersionNumber] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VersionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Royalty_Payment_ThinhPH]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Royalty_Payment_ThinhPH](
	[PaymentID_ThinhPH] [int] IDENTITY(1,1) NOT NULL,
	[ContractID_ThinhPH] [int] NOT NULL,
	[Amount] [money] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentStatus] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID_ThinhPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Series_Category_Map]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Series_Category_Map](
	[SeriesID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeriesID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Series_Collection]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Series_Collection](
	[CollectionID] [int] IDENTITY(1,1) NOT NULL,
	[SeriesID] [int] NOT NULL,
	[CollectionName] [nvarchar](100) NULL,
	[DisplayOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[System_UserAccount]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[System_UserAccount](
	[UserAccountID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](150) NULL,
	[RoleID] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserAccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task_Assignment]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_Assignment](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[PageID] [int] NOT NULL,
	[AssigneeID] [int] NOT NULL,
	[TaskType] [varchar](50) NULL,
	[Deadline] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task_Review]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[ReviewerID] [int] NOT NULL,
	[IsApproved] [bit] NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task_Submission]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_Submission](
	[SubmissionID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NOT NULL,
	[SubmissionURL] [varchar](500) NULL,
	[SubmittedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubmissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Activity_Log]    Script Date: 5/20/2026 10:23:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Activity_Log](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserAccountID] [int] NULL,
	[ActionType] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category_Master] ON 

INSERT [dbo].[Category_Master] ([CategoryID], [CategoryName], [Slug]) VALUES (1, N'Action', N'action')
INSERT [dbo].[Category_Master] ([CategoryID], [CategoryName], [Slug]) VALUES (2, N'Adventure', N'adventure')
INSERT [dbo].[Category_Master] ([CategoryID], [CategoryName], [Slug]) VALUES (3, N'Fantasy', N'fantasy')
SET IDENTITY_INSERT [dbo].[Category_Master] OFF
GO
SET IDENTITY_INSERT [dbo].[Manga_Chapter] ON 

INSERT [dbo].[Manga_Chapter] ([ChapterID], [SeriesID], [ChapterNumber], [Title]) VALUES (1, 1, 1, N'Romance Dawn')
INSERT [dbo].[Manga_Chapter] ([ChapterID], [SeriesID], [ChapterNumber], [Title]) VALUES (2, 2, 1, N'Bulma and Son Goku')
INSERT [dbo].[Manga_Chapter] ([ChapterID], [SeriesID], [ChapterNumber], [Title]) VALUES (3, 3, 1, N'Uzumaki Naruto')
SET IDENTITY_INSERT [dbo].[Manga_Chapter] OFF
GO
SET IDENTITY_INSERT [dbo].[Manga_Series] ON 

INSERT [dbo].[Manga_Series] ([SeriesID], [AuthorID], [Title], [Status]) VALUES (1, 1, N'One Piece', N'Ongoing')
INSERT [dbo].[Manga_Series] ([SeriesID], [AuthorID], [Title], [Status]) VALUES (2, 2, N'Dragon Ball', N'Finished')
INSERT [dbo].[Manga_Series] ([SeriesID], [AuthorID], [Title], [Status]) VALUES (3, 3, N'Naruto', N'Finished')
SET IDENTITY_INSERT [dbo].[Manga_Series] OFF
GO
SET IDENTITY_INSERT [dbo].[Manga_Statistics] ON 

INSERT [dbo].[Manga_Statistics] ([StatID], [SeriesID], [TotalViews], [RatingScore]) VALUES (1, 1, 500000, CAST(4.90 AS Decimal(3, 2)))
INSERT [dbo].[Manga_Statistics] ([StatID], [SeriesID], [TotalViews], [RatingScore]) VALUES (2, 2, 350000, CAST(4.80 AS Decimal(3, 2)))
INSERT [dbo].[Manga_Statistics] ([StatID], [SeriesID], [TotalViews], [RatingScore]) VALUES (3, 3, 400000, CAST(4.70 AS Decimal(3, 2)))
SET IDENTITY_INSERT [dbo].[Manga_Statistics] OFF
GO
SET IDENTITY_INSERT [dbo].[Manuscript_Annotation] ON 

INSERT [dbo].[Manuscript_Annotation] ([AnnotationID], [PageID], [EditorID], [CommentContent], [CoordinateData]) VALUES (1, 3, 10, N'Chỉnh nét mặt Luffy', N'{"x":10}')
INSERT [dbo].[Manuscript_Annotation] ([AnnotationID], [PageID], [EditorID], [CommentContent], [CoordinateData]) VALUES (2, 7, 10, N'Thêm tone mây', N'{"x":50}')
INSERT [dbo].[Manuscript_Annotation] ([AnnotationID], [PageID], [EditorID], [CommentContent], [CoordinateData]) VALUES (3, 1, 10, N'Duyệt', N'{}')
SET IDENTITY_INSERT [dbo].[Manuscript_Annotation] OFF
GO
SET IDENTITY_INSERT [dbo].[Manuscript_Page] ON 

INSERT [dbo].[Manuscript_Page] ([PageID], [ChapterID], [PageNumber], [CurrentStatus]) VALUES (1, 1, 1, N'Approved')
INSERT [dbo].[Manuscript_Page] ([PageID], [ChapterID], [PageNumber], [CurrentStatus]) VALUES (2, 1, 2, N'Approved')
INSERT [dbo].[Manuscript_Page] ([PageID], [ChapterID], [PageNumber], [CurrentStatus]) VALUES (3, 1, 3, N'Inked')
SET IDENTITY_INSERT [dbo].[Manuscript_Page] OFF
GO
SET IDENTITY_INSERT [dbo].[Manuscript_Version] ON 

INSERT [dbo].[Manuscript_Version] ([VersionID], [PageID], [AssetURL], [VersionNumber], [CreatedAt]) VALUES (1, 1, N'cdn/p1_v1.jpg', 1, CAST(N'2026-05-12T05:01:00.353' AS DateTime))
INSERT [dbo].[Manuscript_Version] ([VersionID], [PageID], [AssetURL], [VersionNumber], [CreatedAt]) VALUES (2, 1, N'cdn/p1_v2.jpg', 2, CAST(N'2026-05-12T05:01:00.353' AS DateTime))
INSERT [dbo].[Manuscript_Version] ([VersionID], [PageID], [AssetURL], [VersionNumber], [CreatedAt]) VALUES (3, 2, N'cdn/p2_v1.jpg', 1, CAST(N'2026-05-12T05:01:00.353' AS DateTime))
SET IDENTITY_INSERT [dbo].[Manuscript_Version] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Mangaka')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Assistant')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Editor')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[Series_Category_Map] ([SeriesID], [CategoryID]) VALUES (1, 1)
INSERT [dbo].[Series_Category_Map] ([SeriesID], [CategoryID]) VALUES (1, 2)
INSERT [dbo].[Series_Category_Map] ([SeriesID], [CategoryID]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Series_Collection] ON 

INSERT [dbo].[Series_Collection] ([CollectionID], [SeriesID], [CollectionName], [DisplayOrder]) VALUES (1, 1, N'Top Weekly', 1)
INSERT [dbo].[Series_Collection] ([CollectionID], [SeriesID], [CollectionName], [DisplayOrder]) VALUES (2, 5, N'Must Read Seinen', 1)
INSERT [dbo].[Series_Collection] ([CollectionID], [SeriesID], [CollectionName], [DisplayOrder]) VALUES (3, 4, N'Modern Classics', 1)
SET IDENTITY_INSERT [dbo].[Series_Collection] OFF
GO
SET IDENTITY_INSERT [dbo].[System_UserAccount] ON 

INSERT [dbo].[System_UserAccount] ([UserAccountID], [UserName], [Password], [FullName], [Email], [RoleID], [IsActive], [CreatedDate]) VALUES (1, N'oda', N'123', N'Eiichiro Oda', N'oda@jump.jp', 1, 1, CAST(N'2026-05-12T05:01:00.353' AS DateTime))
INSERT [dbo].[System_UserAccount] ([UserAccountID], [UserName], [Password], [FullName], [Email], [RoleID], [IsActive], [CreatedDate]) VALUES (2, N'toriyama', N'123', N'Akira Toriyama', N'tori@jump.jp', 1, 1, CAST(N'2026-05-12T05:01:00.353' AS DateTime))
INSERT [dbo].[System_UserAccount] ([UserAccountID], [UserName], [Password], [FullName], [Email], [RoleID], [IsActive], [CreatedDate]) VALUES (3, N'kishimoto', N'123', N'Masashi Kishimoto', N'kishi@jump.jp', 1, 1, CAST(N'2026-05-12T05:01:00.353' AS DateTime))
SET IDENTITY_INSERT [dbo].[System_UserAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[Task_Assignment] ON 

INSERT [dbo].[Task_Assignment] ([TaskID], [PageID], [AssigneeID], [TaskType], [Deadline]) VALUES (1, 3, 8, N'Background', CAST(N'2026-06-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Task_Assignment] ([TaskID], [PageID], [AssigneeID], [TaskType], [Deadline]) VALUES (2, 7, 9, N'Toning', CAST(N'2026-06-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Task_Assignment] ([TaskID], [PageID], [AssigneeID], [TaskType], [Deadline]) VALUES (3, 1, 8, N'CleanUp', CAST(N'2026-05-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Task_Assignment] OFF
GO
SET IDENTITY_INSERT [dbo].[Task_Review] ON 

INSERT [dbo].[Task_Review] ([ReviewID], [TaskID], [ReviewerID], [IsApproved], [Note]) VALUES (1, 1, 1, 1, N'Ok')
INSERT [dbo].[Task_Review] ([ReviewID], [TaskID], [ReviewerID], [IsApproved], [Note]) VALUES (2, 2, 5, 1, N'Good')
INSERT [dbo].[Task_Review] ([ReviewID], [TaskID], [ReviewerID], [IsApproved], [Note]) VALUES (3, 3, 1, 1, N'Ok')
SET IDENTITY_INSERT [dbo].[Task_Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Task_Submission] ON 

INSERT [dbo].[Task_Submission] ([SubmissionID], [TaskID], [SubmissionURL], [SubmittedAt]) VALUES (1, 1, N'cdn/sub1.png', CAST(N'2026-05-12T05:01:00.357' AS DateTime))
INSERT [dbo].[Task_Submission] ([SubmissionID], [TaskID], [SubmissionURL], [SubmittedAt]) VALUES (2, 2, N'cdn/sub2.png', CAST(N'2026-05-12T05:01:00.357' AS DateTime))
INSERT [dbo].[Task_Submission] ([SubmissionID], [TaskID], [SubmissionURL], [SubmittedAt]) VALUES (3, 3, N'cdn/sub3.png', CAST(N'2026-05-12T05:01:00.357' AS DateTime))
SET IDENTITY_INSERT [dbo].[Task_Submission] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Category__BC7B5FB6F064B7FF]    Script Date: 5/20/2026 10:23:11 AM ******/
ALTER TABLE [dbo].[Category_Master] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Manga_St__F3A1C10056A6CE74]    Script Date: 5/20/2026 10:23:11 AM ******/
ALTER TABLE [dbo].[Manga_Statistics] ADD UNIQUE NONCLUSTERED 
(
	[SeriesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__System_U__C9F28456820E928D]    Script Date: 5/20/2026 10:23:11 AM ******/
ALTER TABLE [dbo].[System_UserAccount] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contract_Asset_ThinhPH] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[Contract_Master_ThinhPH] ADD  DEFAULT (getdate()) FOR [SignDate]
GO
ALTER TABLE [dbo].[Contract_Master_ThinhPH] ADD  DEFAULT ((1)) FOR [IsExclusive]
GO
ALTER TABLE [dbo].[Manga_Statistics] ADD  DEFAULT ((0)) FOR [TotalViews]
GO
ALTER TABLE [dbo].[Manga_Statistics] ADD  DEFAULT ((0)) FOR [RatingScore]
GO
ALTER TABLE [dbo].[Manuscript_Version] ADD  DEFAULT ((1)) FOR [VersionNumber]
GO
ALTER TABLE [dbo].[Manuscript_Version] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Royalty_Payment_ThinhPH] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Series_Collection] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[System_UserAccount] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[System_UserAccount] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Task_Review] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Task_Submission] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[User_Activity_Log] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Contract_Asset_ThinhPH]  WITH CHECK ADD FOREIGN KEY([ContractID_ThinhPH])
REFERENCES [dbo].[Contract_Master_ThinhPH] ([ContractID_ThinhPH])
GO
ALTER TABLE [dbo].[Contract_Master_ThinhPH]  WITH CHECK ADD FOREIGN KEY([SeriesID])
REFERENCES [dbo].[Manga_Series] ([SeriesID])
GO
ALTER TABLE [dbo].[Manga_Chapter]  WITH CHECK ADD FOREIGN KEY([SeriesID])
REFERENCES [dbo].[Manga_Series] ([SeriesID])
GO
ALTER TABLE [dbo].[Manga_Series]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[System_UserAccount] ([UserAccountID])
GO
ALTER TABLE [dbo].[Manga_Statistics]  WITH CHECK ADD FOREIGN KEY([SeriesID])
REFERENCES [dbo].[Manga_Series] ([SeriesID])
GO
ALTER TABLE [dbo].[Manuscript_Annotation]  WITH CHECK ADD FOREIGN KEY([EditorID])
REFERENCES [dbo].[System_UserAccount] ([UserAccountID])
GO
ALTER TABLE [dbo].[Manuscript_Annotation]  WITH CHECK ADD FOREIGN KEY([PageID])
REFERENCES [dbo].[Manuscript_Page] ([PageID])
GO
ALTER TABLE [dbo].[Manuscript_Page]  WITH CHECK ADD FOREIGN KEY([ChapterID])
REFERENCES [dbo].[Manga_Chapter] ([ChapterID])
GO
ALTER TABLE [dbo].[Manuscript_Version]  WITH CHECK ADD FOREIGN KEY([PageID])
REFERENCES [dbo].[Manuscript_Page] ([PageID])
GO
ALTER TABLE [dbo].[Royalty_Payment_ThinhPH]  WITH CHECK ADD FOREIGN KEY([ContractID_ThinhPH])
REFERENCES [dbo].[Contract_Master_ThinhPH] ([ContractID_ThinhPH])
GO
ALTER TABLE [dbo].[Series_Category_Map]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category_Master] ([CategoryID])
GO
ALTER TABLE [dbo].[Series_Category_Map]  WITH CHECK ADD FOREIGN KEY([SeriesID])
REFERENCES [dbo].[Manga_Series] ([SeriesID])
GO
ALTER TABLE [dbo].[Series_Collection]  WITH CHECK ADD FOREIGN KEY([SeriesID])
REFERENCES [dbo].[Manga_Series] ([SeriesID])
GO
ALTER TABLE [dbo].[System_UserAccount]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Task_Assignment]  WITH CHECK ADD FOREIGN KEY([AssigneeID])
REFERENCES [dbo].[System_UserAccount] ([UserAccountID])
GO
ALTER TABLE [dbo].[Task_Assignment]  WITH CHECK ADD FOREIGN KEY([PageID])
REFERENCES [dbo].[Manuscript_Page] ([PageID])
GO
ALTER TABLE [dbo].[Task_Review]  WITH CHECK ADD FOREIGN KEY([ReviewerID])
REFERENCES [dbo].[System_UserAccount] ([UserAccountID])
GO
ALTER TABLE [dbo].[Task_Review]  WITH CHECK ADD FOREIGN KEY([TaskID])
REFERENCES [dbo].[Task_Assignment] ([TaskID])
GO
ALTER TABLE [dbo].[Task_Submission]  WITH CHECK ADD FOREIGN KEY([TaskID])
REFERENCES [dbo].[Task_Assignment] ([TaskID])
GO
ALTER TABLE [dbo].[User_Activity_Log]  WITH CHECK ADD FOREIGN KEY([UserAccountID])
REFERENCES [dbo].[System_UserAccount] ([UserAccountID])
GO
ALTER TABLE [dbo].[Royalty_Payment_ThinhPH]  WITH CHECK ADD CHECK  (([PaymentStatus]='Cancelled' OR [PaymentStatus]='Paid' OR [PaymentStatus]='Pending'))
GO
USE [master]
GO
